
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    background-color: #475b6e;
}

.gameBoard {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: auto;
    width: 450px;
}

.gameCell {
    height: 150px;
    width: 150px;
    float: left;
    background-color: #fff;
    border: 2px solid #000;
    text-align: center;
    font-size: 5em;
    line-height: 2em;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    
}



@keyframes anim {
    from {transform: scale(2)}
    to {transform: scale(1)}
}



.gameCell * {
    
    animation-name: anim;
    animation-duration: 500ms;
}


.player1 {
    color: #e6506c;
}

.player2 {
    color: #475b6e;
}



.resetButton {
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translate(-50%, 50%);
    margin: auto;
    padding: 0.5em 1em;
    color: #fff;
    background-color: #e6506c;
    border: none;
    font-size: 1em;
    font-weight: 900;
    text-transform: uppercase;
    cursor: pointer;
}

.linkButton {
    display: inline-block;
    margin: 15px;
    padding: 0.5em 1em;
    color: #fff;
    background-color: #e6506c;
    border: none;
    font-size: 1em;
    font-weight: 900;
    text-transform: uppercase;
    cursor: pointer;
}

.modalWrapper {
    position: absolute;
    background-color: #000;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 100vh;
    width: 100%;
    opacity: 0.8;
    z-index: 998;
    
}

.modalWrapper.hidden {
    display: none;
}


.modal {
    position: absolute;
    width: 40%;
    height: 40%;
    background-color: #fff;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    opacity: 1;
    text-align: center;
    font-size: 2em;
    font-family: Arial, Helvetica, sans-serif;
   
    
}



@media only screen and (max-width: 600px) {
    
    .gameBoard {
        width: 300px;
    }
    
    .gameCell {
        height: 100px;
        width: 100px;
        font-size: 4em;
        line-height: 100px;

    }
}


.win {
    background: #42f45f;
}
